@model WebSite.Models.Employees.EditViewModel

@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    <a asp-action="Index">Back to List</a>
</div>
